<div class="bg">
  <div class="text-center jumbotron">
      <h1> Online School Library</h1>
  </div>
  <!--  -->
  <div class="container">
    <div class="row top-buffer">
      <div class="col-sm-4 bottom-buffer">
        <app-search-title (addBookEvent)="getBooks($event)"></app-search-title>
      </div>
      <div class="col-sm-4 bottom-buffer">
        <search-genre (addBookEvent)="getBooks($event)"></search-genre>
      </div>
      <div class="col-sm-4 bottom-buffer">
        <search-author (addBookEvent)="getBooks($event)"></search-author>
      </div>
    </div>
    <!--  -->
    <div class="buff-top-mini text-center" *ngIf="books">
      <app-books [books]="books" (bookEvent)="selectBook($event)"></app-books>
    </div>
    <!--    -->
  </div>
</div>
