<div class="text-center">
  <app-book [bookData]="bookData"></app-book>
</div>

<div class="buff-top-mini">
  <form [formGroup]="instanceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="quantity">
        Number of Books:
      </label>
      <input class="form-control" type="number"
        formControlName="quantity" required>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!instanceForm.valid">Enter</button>
  </form>
</div>

<div class="buff-top-mini text-center buff-bottom">
  <a class="btn btn-success" routerLink="/office/search-registered">Return</a>
</div>
