<div class="text-center">
  <user [user]="user" (returnEvent)="returnBook($event)"></user>
</div>

<div class="buff-top-mini">
  <app-search-title (addBookEvent)="getBooks($event)">
  </app-search-title>
</div>

<div class="buff-top-mini text-center" *ngIf="books">
  <app-books [books]="books"
    (bookEvent)="selectBook($event)"></app-books>
</div>

<div class="buff-top-mini text-center" *ngIf="bookData">
  <app-book [bookData]="bookData"
    (instanceEvent)="selectInstance($event)"></app-book>
</div>

<div class="text-center buff-top-mini">
  <button class="btn btn-success"
    routerLink="/office/checkout">Return</button>
</div>
